.text {
  color: var(--n4);
}

.title {
  margin-top: 24px;
}

.services {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .services {
    margin-top: 48px;
  }

  .title {
    margin-top: 16px;
  }
}

@media (max-width: 430px) {
}
